@model ViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title | Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/katex/katex.min.css" />
    <script defer src="~/lib/katex/katex.min.js"></script>
    <script defer src="~/lib/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
    <link rel="stylesheet" href="~/css/fasciculus3.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="row fsc-navbar">
                <div class="col fsc-navbar-left">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="~/"><img class="fsc-logo" src="~/images/fasciculus.png" /></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2024-2025 The Fasciculus Project.</p>
        </div>
    </footer>
</body>
</html>
