@model IEnumerable<IConstructorSymbol>

<h2 id="constructors">Constructors</h2>

<table class="table">
    <thead>
        <tr>
            <th>Constructor</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IConstructorSymbol constructor in Model)
        {
            <tr>
                <td><a href="~/api/@(constructor.Link.Parent)/-Constructors.html#@(constructor.Id)">@constructor.Name</a></td>
                <td>@Html.Raw(@constructor.Comment.Summary)</td>
            </tr>
        }
    </tbody>
</table>

