@model IEnumerable<IEventSymbol>

<h2 id="events">Events</h2>

<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IEventSymbol evt in Model)
        {
            <tr>
                <td><a href="~/api/@(evt.Link.Parent)/-Events.html#@(evt.Id)">@evt.Name</a></td>
                <td>@Html.Raw(@evt.Comment.Summary)</td>
            </tr>
        }
    </tbody>
</table>