@model IEnumerable<IFieldSymbol>

<h2 id="fields">Fields</h2>

<table class="table">
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IFieldSymbol field in Model)
        {
            <tr>
                <td><a href="~/api/@(field.Link.Parent)/-Fields.html#@(field.Id)">@field.Name</a></td>
                <td>@Html.Raw(@field.Comment.Summary)</td>
            </tr>
        }
    </tbody>
</table>