<div class="alert alert-warning">
    <p class="mb-0">
        This is preliminary documentation. Although documented in the source code,
        methods, indexers, operators and conversion operators don't show up yet
        in this online documentation.
    </p>
</div>
