@model IEnumerable<IPropertySymbol>

<h2 id="properties">Properties</h2>

<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IPropertySymbol property in Model)
        {
            <tr>
                <td><a href="~/api/@(property.Link.Parent)/-Properties.html#@(property.Id)">@property.Name</a></td>
                <td>@Html.Raw(@property.Comment.Summary)</td>
            </tr>
        }
    </tbody>
</table>