@model TargetFrameworks
<table class="table">
    <colgroup>
        <col style="width:12rem" />
        <col style="width:auto" />
    </colgroup>
    <thead>
        <tr>
            <th>Product</th>
            <th>Versions</th>
        </tr>
    </thead>
    <tbody>
@foreach (TargetProduct product in Model.Products)
{
        <tr>
            <td>@product.Name</td>
            <td>@(string.Join(", ", product.Versions))</td>
        </tr>
}
    </tbody>
</table>