@model ApiConstructorsViewModel

<h1>@Model.Title</h1>

<h2>Overloads</h2>

@foreach (ConstructorSymbol constructor in Model.Constructors)
{
    <h3>@constructor.Name</h3>

    <h4>Definition</h4>

    <p>@Html.Raw(constructor.Comment.Summary)</p>

    <h4>Applies To</h4>

    <partial name="_TargetFrameworks.cshtml" model=constructor.Frameworks />
}