@model ApiConstructorsViewModel

<h1>@Model.Title</h1>

@foreach (ConstructorSymbol constructor in Model.Constructors)
{
    <h2 id="@constructor.Id">@constructor.Name</h2>

    <h3>Definition</h3>

    <p>@Html.Raw(constructor.Comment.Summary)</p>

    <h3>Applies To</h3>

    <partial name="_TargetFrameworks.cshtml" model=constructor.Frameworks />
}