@model ApiIndexDocument
<h1>API Documentation</h1>

<h2>Individual Packages</h2>

<table class="table">
    <tbody>
@foreach (var package in Model.Packages)
{
        <tr>
            <td><a href="~/api/@(package.Name)/">@package.Name</a></td>
            <td>@package.Description</td>
        </tr>
}
    </tbody>
</table>
