@model ApiSymbolViewModel<IInterfaceSymbol>
@{
    IInterfaceSymbol ifc = Model.Symbol;
    bool hasEvents = ifc.Events.Any();
    bool hasProperties = ifc.Properties.Any();
    ApiAppliesTo appliesTo = new(ifc.Frameworks);
}

<h1>@ifc.Name Interface</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    @if (hasEvents)
    {
        <li><a href="#events">Events</a></li>
    }
    @if (hasProperties)
    {
        <li><a href="#properties">Properties</a></li>
    }
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_SymbolInfo.cshtml" model=ifc />

<div class="csharp"><pre><code>@ifc.Modifiers interface @ifc.Name</code></pre></div>

<p>@Html.Raw(ifc.Comment.Summary)</p>

@if (hasEvents)
{
    <partial name="_Events.cshtml" model=ifc.Events />
}

@if (hasProperties)
{
    <partial name="_Properties.cshtml" model=ifc.Properties />
}

<partial name="_AppliesTo.cshtml" model=appliesTo />
