@model ApiMemberViewModel
@{
    IMemberSymbol member = Model.Member;
    ApiAppliesTo appliesTo = new(member.Frameworks);

}
<h1>@member.Name Member</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

<partial name="_SymbolInfo.cshtml" model=member />

<div class="csharp"><pre><code>@member.Name</code></pre></div>

<p>@Html.Raw(member.Comment.Summary)</p>

<partial name="_AppliesTo.cshtml" model=appliesTo />
