@model ApiNamespaceDocument

@{
    var hasPackages = Model.Namespace.Packages.Any();
    var packagesLabel = Model.Namespace.Packages.Count() > 1 ? "Packages" : "Package";
}

<h1>@Model.Namespace.Name Namespace</h1>

<h2>In this article</h2>

<ul>
    <li><a href="#definition">Definition</a></li>
    <li><a href="#applies-to">Applies to</a></li>
</ul>

<h2 id="definition">Definition</h2>

@if (hasPackages)
{
    <p>@(packagesLabel): @(string.Join(", ", Model.Namespace.Packages))</p>
}

<p>@Model.Namespace.Description</p>

<partial name="~/Views/Api/TargetFrameworks.cshtml" model=Model.Namespace.Frameworks />
