@model ApiPackagesViewModel
<h1>API Documentation</h1>

@if (!Model.Combined.IsEmpty)
{
    <h2>All-In-One</h2>

    <p><a href="~/api/Combined/">Combined</a></p>
}

@if (Model.Packages.Any())
{
    <h2>Individual Packages</h2>

    <table class="table">
        <tbody>
            @foreach (var package in Model.Packages)
            {
                <tr>
                    <td><a href="~/api/@(package.Link)/">@package.Name</a></td>
                    <td>@package.Comment.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
