@model ApiPackagesViewModel
<h1>API Documentation</h1>

<div class="search">
    <search>
        <form>
            <input type="search" placeholder="Search API" />
        </form>
    </search>
</div>

<div class="alert alert-warning">
    <p class="mb-0">Search not yet available.</p>
</div>

@if (Model.Packages.Any())
{
    <h2>Packages</h2>

    <table class="table">
        <tbody>
            @foreach (var package in Model.Packages)
            {
                @if (package.Namespaces.Any())
                {
                    <tr>
                        <td><a href="~/api/@(package.Link)/">@package.Name</a></td>
                        <td>@package.Comment.Summary</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
