@model TargetFrameworks
<h2 id="applies-to">Applies To</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Versions</th>
        </tr>
    </thead>
    <tbody>
@foreach (TargetProduct product in Model.Products)
{
        <tr>
            <td>@product.Name</td>
            <td>@(string.Join(", ", product.Versions))</td>
        </tr>
}
    </tbody>
</table>