<h1>Releases</h1>

<h2>0.1.100</h2>

<p>This will be the initial release. ETA: Soon&trade;.</p>

<h3>Packages</h3>

<ul>
    <li><a href="~/api/Fasciculus.Core/">Fasciculus.Core</a></li>
    <li><a href="~/api/Fasciculus.Extensions/">Fasciculus.Extensions</a></li>
</ul>

<h3>Tasks</h3>

<p>
    <img src="~/images/done.png" /> Programming<br />
    <img src="~/images/done.png" /> Documenting<br />
    <img src="~/images/todo.png" /> Generating API Documentation
</p>
