@model ViewModel

<h1>@Model.Title</h1>

<h2>Fasciculus Specifications</h2>

<h3>Fasciculus.Mathematics</h3>

<ul>
    <li><a href="~/specifications/FixedPoint.html">Fixed Point Algorithms</a></li>
</ul>

<h2>External Specifications</h2>

<ul>
    <li><a href="https://learn.microsoft.com/en-us/dotnet/api/">.NET API browser</a></li>
    <li><a href="https://learn.microsoft.com/en-us/visualstudio/msbuild/property-functions?view=vs-2022">MSBuild Property functions</a></li>
</ul>

<ul>
    <li><a href="https://www.w3.org/TR/css-values/">CSS Values and Units Module Level 4</a></li>
    <li><a href="https://www.w3.org/TR/SVG2/">SVG 2</a></li>
    <li><a href="https://www.w3.org/TR/MathML3/">MathML 3</a></li>
</ul>
