@model NavigationNode
@{
    string link = Model.Link.ToString();

    if (!link.EndsWith(".html"))
    {
        link += "/";
    }
}
<li>
    @if (Model.HasChildren)
    {
        <details @(Model.IsOpen ? "open" : "")>
            <summary>@Model.Label</summary>
            <ul>
                <li><a href="~/@link">@Model.Label</a></li>
                @foreach (var child in Model.Children)
                {
                    <partial name="~/Views/Shared/_NavigationNode.cshtml" model=child />
                }
            </ul>
        </details>
    }
    else
    {
        <a href="~/@link">@Model.Label</a>
    }
</li>
