@model NavigationNode
@{
    int kind = Model.Kind;
    bool isLeaf = NavigationKind.IsLeaf(kind);
    bool hasOverview = NavigationKind.HasOverview(kind);
    string link = Model.Link.ToString() + (isLeaf ? ".html" : "/");
}
<li>
    @if (Model.HasChildren)
    {
        <details @(Model.IsOpen ? "open" : "")>
            <summary>@Model.Label</summary>
            <ul>
                @if (hasOverview)
                {
                    <li><a href="~/@link">Overview</a></li>
                }
                @foreach (var child in Model.Children)
                {
                    <partial name="~/Views/Shared/_NavigationNode.cshtml" model=child />
                }
            </ul>
        </details>
    }
    else
    {
        <a href="~/@link">@(hasOverview ? "\u2003" : "")@Model.Label</a>
    }
</li>
